<h1>The Final Combination</h1>

This is the notebook we used to create the final combination of the predictions of both the same and unique keys.

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [7]:
Original_test=pd.read_csv('C:/Users/samde/Desktop/Data Science/Datasets/Medicare Hackathon/TestData/Landscape_Test.csv',sep = ',',encoding='mac_roman')

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (22,24,25,26,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
Unique=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/Medicare Hackathon/Unique.csv")

In [9]:
SameKey=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/Medicare Hackathon/SameKey.csv")

In [10]:
Unique.head()

     State   County       bid_id   Organization_Name  PredictedEnr
0  Alabama  Autauga  H4513_044_0  Cigna-HealthSpring       268.846
1  Alabama  Autauga  H4513_045_0  Cigna-HealthSpring         0.680
2  Alabama  Autauga  H4513_046_1  Cigna-HealthSpring       366.118
3  Alabama  Autauga  H4513_047_0  Cigna-HealthSpring         0.000
4  Alabama  Autauga  H5521_224_0      Aetna Medicare         0.000

In [11]:
SameKey.head()

     State   County       bid_id     Organization_Name  PredictedEnr
0  Alabama  Autauga  H0104_012_0  Blue Advantage (PPO)         451.3
1  Alabama  Autauga  H0104_015_0  Blue Advantage (PPO)          84.6
2  Alabama  Autauga  H0154_008_0         VIVA Medicare           5.6
3  Alabama  Autauga  H0154_011_0         VIVA Medicare          93.9
4  Alabama  Autauga  H0154_012_0         VIVA Medicare         605.4

In [12]:
FinalDF=pd.DataFrame({'State': Original_test.State, 'County': Original_test.County, 'bid_id': Original_test.bid_id,'Organization_Name': Original_test.Organization_Name})

In [13]:
FinalDF['PredictedEnr']=0

In [14]:
FinalDF.head()

     State   County       bid_id     Organization_Name  PredictedEnr
0  Alabama  Autauga  H0104_012_0  Blue Advantage (PPO)             0
1  Alabama  Autauga  H0104_015_0  Blue Advantage (PPO)             0
2  Alabama  Autauga  H0154_008_0         VIVA Medicare             0
3  Alabama  Autauga  H0154_011_0         VIVA Medicare             0
4  Alabama  Autauga  H0154_012_0         VIVA Medicare             0

In [15]:
FinalDF=pd.merge(FinalDF,SameKey, on=['State','County',"bid_id",'Organization_Name'],how="left")

In [16]:
FinalDF['PredictedEnr']=FinalDF['PredictedEnr_y']

In [17]:
FinalDF.drop(['PredictedEnr_x','PredictedEnr_y'],axis=1,inplace=True)

In [18]:
FinalDF=pd.merge(FinalDF,Unique,on=['State','County',"bid_id",'Organization_Name'],how="left")

In [19]:
FinalDF['PredictedEnr']=FinalDF['PredictedEnr_x']

In [20]:
FinalDF['PredictedEnr'].fillna(FinalDF['PredictedEnr_y'],inplace=True)

In [21]:
FinalDF.drop(['PredictedEnr_x','PredictedEnr_y'],axis=1,inplace=True)

In [22]:
FinalDF.head()

     State   County       bid_id     Organization_Name  PredictedEnr
0  Alabama  Autauga  H0104_012_0  Blue Advantage (PPO)         451.3
1  Alabama  Autauga  H0104_015_0  Blue Advantage (PPO)          84.6
2  Alabama  Autauga  H0154_008_0         VIVA Medicare           5.6
3  Alabama  Autauga  H0154_011_0         VIVA Medicare          93.9
4  Alabama  Autauga  H0154_012_0         VIVA Medicare         605.4

<h2>Final Submission File<h2>

In [24]:
FinalDF.to_excel('C:/Users/samde/Desktop/Data Science/Datasets/Medicare Hackathon/FinalSUB.xlsx', index=False)